<div class="row marketing">
    <h4>Welcome {{localUser}}</h4>

    <!--<openlayers ol-center="center" ol-defaults="defaults" width="300px" height="400px">-->
        <!--<ol-marker style="-->
            <!--font-size: 14px;-->
            <!--background: #FFFFFF;-->
            <!--font-weight: bold;-->
            <!--margin-left: -50%;-->
            <!--margin-top: 20%;-->
            <!--border: 1px solid;-->
            <!--width: 100%;"-->
                   <!--name="labelMark"-->
                   <!--lat="-16.5"-->
                   <!--lon="-68.14999999999999"-->
                   <!--message="Here is my location!">-->
        <!--</ol-marker>-->
    <!--</openlayers>-->
    <h4>Device: </h4>
    <span>{{device}}</span>
    <h4>Cordova: </h4>
    <span>{{cordova}}</span>
    <h4>Model: </h4>
    <span>{{model}}</span>
    <h4>Platform: </h4>
    <span>{{platform}}</span>
    <h4>Uuid: </h4>
    <span>{{uuid}}</span>
    <h4>Version: </h4>
    <span>{{version}}</span>
    <h4>Latitude: </h4>
    <span>{{lat}}</span>
    <h4>Longitude: </h4>
    <span>{{longt}}</span>

    <button class="btn btn-default btn-sm" ng-click="createThing()">
        Create Thing</button>
</div>








